<div id="say-box" class="wrapper">
  <h1>Say something:</h1>
  <form action="/say/say" method="post" accept-charset="utf-8" autocomplete="off">
      <input type="text" name="phrase" class="zomg"/><br/>
  </form>
</div>

<div class="wrapper">
  
  <div id="volume">
    <h2>Volume</h2>
    <div class="slider">
      <p>
      	<label for="system-volume-value">System:</label>
        <input type="text" id="system-volume-value" style="border:0; color:#D50000; font-weight:bold;" />
      </p>

      <div id="system-volume" style="height:200px;"></div>
    </div>

    <div class="slider">
      <p>
      	<label for="itunes-volume-value">iTunes:</label>
        <input type="text" id="itunes-volume-value" style="border:0; color:#D50000; font-weight:bold;" />
      </p>

      <div id="itunes-volume" style="height:200px;"></div>
    </div>
  </div>

  <div id="history" class="wrapper">
    <h2>Stuff you said:</h2>
    <ul>
      <li class="placeholder">Nothing yet...</li>
    </ul>
  </div>

</div>

<div id="debugger" class="wrapper"></div>