<div id="volume">
  <p>
  	<label for="amount">Volume:</label>
  	<input type="text" id="amount" style="border:0; color:#D50000; font-weight:bold;" />
  </p>

  <div id="slider-vertical" style="height:200px;"></div>
</div>
